.detail {
  display: grid;
  padding: var(--s-sm);
  gap: var(--s-lg);
  grid-template-areas:
    'image'
    'header'
    'details'
    'stats';
  grid-template-rows: min-content auto;

  .detail__image {
    aspect-ratio: 1;
    grid-area: image;
    image-rendering: pixelated;
    width: 100%;
  }

  .detail__header {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--s-xs);
    grid-area: header;
  }

  .detail__id {
    color: var(--color-generic-gray-dark);
  }

  .detail__title {
    font-size: 4rem;
  }

  .detail__details,
  .detail__stats {
    display: flex;
    flex-direction: column;
    gap: var(--s-sm);
  }

  .detail__details {
    grid-area: details;
  }

  .detail__stats {
    grid-area: stats;
  }

  .detail__subtitle {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .detail {
    grid-template-areas:
      'image header'
      'image details'
      'image stats';
    grid-template-columns: min-content auto;
    padding: var(--s-md);

    .detail__image {
      width: 19.2rem;
    }

    .detail__header {
      flex-direction: row;
      gap: var(--s-sm);
    }
  }
}

@media screen and (min-width: 1400px) {
  .detail {
    padding: var(--s-lg);

    .detail__image {
      width: 38.4rem;
    }
  }
}
