.list {
  .list__header,
  .list__footer {
    display: flex;
    align-items: center;

    .list__filter,
    .list__limit,
    .list__pagination {
      display: flex;
      align-items: center;
      gap: var(--s-sm);
    }
  }

  .list__header {
    gap: var(--s-lg);
  }

  .list__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--s-xl);
    color: var(--color-generic-gray-dark);
  }

  .list__footer {
    justify-content: space-between;
  }
}
