.list {
  .list__header,
  .list__footer {
    display: flex;
    flex-direction: column;
    gap: var(--s-sm);

    .list__filter,
    .list__limit,
    .list__pagination {
      align-items: center;
      display: flex;
      gap: var(--s-sm);
    }
  }

  .list__header {
    flex-grow: 1;
  }

  .list__empty {
    align-items: center;
    color: var(--color-generic-gray-dark);
    display: flex;
    justify-content: center;
    padding: var(--s-xl);
  }

  .list__footer {
    justify-content: space-between;
  }
}

@media screen and (min-width: 700px) {
  .list {
    .list__header,
    .list__footer {
      align-items: center;
      flex-direction: row;
    }

    .list__header {
      gap: var(--s-md);
    }
  }
}

@media screen and (min-width: 1400px) {
  .list {
    .list__header {
      gap: var(--s-lg);
    }
  }
}
