.button {
  background: var(--color-secondary);
  border: 5px outset var(--color-generic-black);
  cursor: pointer;
  display: inline-block;
  flex-grow: 1;
  padding: var(--s-sm) var(--s-md);

  &:hover,
  &:focus-visible {
    background-color: var(--color-secondary-light);
    outline: none;
  }

  &:active {
    background-color: var(--color-secondary-dark);
    border-style: inset;
  }

  &[disabled] {
    background-color: var(--color-generic-gray-dark);
    border-style: inset;
    cursor: not-allowed;
  }
}

@media screen and (min-width: 700px) {
  .button {
    flex-grow: 0;
  }
}
