.select {
  display: inline-flex;
  border: 5px outset var(--color-generic-black);
  padding: var(--s-sm) var(--s-md);
  background: var(--color-tertiary);
  position: relative;
  gap: var(--s-sm);
  flex-grow: 1;
  justify-content: space-around;

  &::after {
    content: '>';
    transform: rotate(90deg);
    display: block;
    pointer-events: none;
  }

  &:hover,
  &:focus-within {
    background-color: var(--color-tertiary-light);
    outline: none;
  }

  &:has([disabled]) {
    background-color: var(--color-generic-gray-dark);
    border-style: inset;
    color: var(--color-generic-black);
  }

  .select__field {
    position: absolute;
    opacity: 0;
    inset: -5px;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: 700px) {
  .select {
    flex-grow: 0;
  }
}
