.select {
  background: var(--color-tertiary);
  border: 5px outset var(--color-generic-black);
  display: inline-flex;
  flex-grow: 1;
  gap: var(--s-sm);
  justify-content: space-around;
  padding: var(--s-sm) var(--s-md);
  position: relative;

  &::after {
    content: '>';
    display: block;
    pointer-events: none;
    transform: rotate(90deg);
  }

  &:hover,
  &:focus-within {
    background-color: var(--color-tertiary-light);
    outline: none;
  }

  &:has([disabled]) {
    background-color: var(--color-generic-gray-dark);
    border-style: inset;
    color: var(--color-generic-black);
  }

  .select__field {
    cursor: pointer;
    inset: -5px;
    opacity: 0;
    position: absolute;

    &[disabled] {
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: 700px) {
  .select {
    flex-grow: 0;
  }
}
