.table {
  display: grid;
  grid-auto-flow: rows;
  grid-template-columns: min-content 1fr 2fr;

  .table__row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/4;
    padding: var(--s-sm);
    gap: var(--s-md);

    &:nth-child(even) {
      background-color: var(--color-generic-gray-light);
    }

    &:hover,
    &:focus-visible {
      background-color: var(--color-secondary-light);
    }
  }

  .table__cell {
    display: flex;
    align-items: center;
    gap: var(--s-sm);
  }

  .table__image {
    width: 4.8rem;
    aspect-ratio: 1;
  }

  .table__id {
    color: var(--color-generic-gray-dark);
  }
}
