.wrapper {
  background-color: var(--color-primary);
  border: 5px outset var(--color-generic-black);
  color: var(--color-generic-white);
  display: grid;
  gap: var(--s-sm);
  grid-auto-flow: rows;
  padding: var(--s-sm);

  .wrapper__header {
    display: flex;
  }

  .wrapper__body {
    background-color: var(--color-generic-white);
    border: 5px inset var(--color-generic-black);
    color: var(--color-generic-black);
  }
}

@media screen and (min-width: 700px) {
  .wrapper {
    gap: var(--s-md);
    padding: var(--s-md);

    .wrapper__header {
      display: initial;
    }
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    gap: var(--s-lg);
    padding: var(--s-lg);
  }
}
