:root {
  font-size: 10px;

  --s-xs: 0.5rem;
  --s-sm: 1rem;
  --s-md: 1.5rem;
  --s-lg: 2rem;
  --s-xl: 4rem;
}

body {
  font-size: 1.6rem;
}

body,
#root {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
}
